<!doctype html>
<html>

<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
  <title>Welcome to the Twitter Stream</title>
</head>

<body>
  <div class="container">

    <!-- Simple form made to post data to the server -->
    <div class="row">
      <div class="col-md-12 center">
        <form action="/" method="post">
          <label for="search">Search:</label>
          <input name="search" type="text" id="search">
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>

    <div class="row">
      <h1 class= "col-md-6 col-md-offset-3"><%- header %></h1>
    </div>
  </div>
  <div class="container" id="tweet-container">

  </div>
</body>
<script type="text/javascript">
  var socket = io();

  socket.on('connect', function() {
    console.log('Connected!');
  });

  socket.on('tweets', function(tweet) {
    var html = '<div class="row"><div class="col-md-6 col-md-offset-3 tweet"><img src="' + tweet.user_profile_image + '" class="avatar pull-left"/><div class="names"><span class="full-name">' + tweet.name + ' </span><span class="username">@' +
      tweet.screen_name + '</span></div><div class="contents"><span class="text">' + tweet.text + '</span></div></div></div>';
    $('#tweet-container').prepend(html);
  });
</script>

</html>
